#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(1vh*100);
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.8);
}

#player-config {
    display: none;
    position: fixed;
    top: 11rem;
    left: calc(50% - 20rem);
    background-color: white;
    color: var(--dark-purple);
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.5);
    width: 40rem;
    padding: 1.5rem;
    margin: 0;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0;
}

input {
    display: block;
    padding: 0.5rem;
    font: normal 1rem monospace;
    border-radius: 4px;
    margin: 0.5rem auto 2rem auto;
    width: 70%;
    border: 3px solid var(--dark-purple);
}

h2 {
    margin: 0 auto 1.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

svg {
    height: 30px;
    width: 30px;
}

